<div>

  <h1>ToDo-List</h1>

  <input #item type="text" (keyup)="AddToDoItem(item.value,1, $event)">
  <button (click)="AddToDoItem(item.value,2)">Add</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="ToDoList">
    <th mat-header-cell *matHeaderCellDef> ToDoItems </th>
    <td  mat-cell *matCellDef="let element">
      <div *ngIf="editId !== element.id">
      {{element.value}} 
     
        <mat-icon (click)="editId = element.id">edit</mat-icon>
      </div>
      <div *ngIf="editId === element.id">
        <input #edit type="text" value="{{element.value}}"> 
     
        <button (click)="EditToDoItem(element,edit.value)">Update</button>
     
      </div>
    </td>
 
  </ng-container>


  <ng-container matColumnDef="DeleteToDoItem">
    <th mat-header-cell *matHeaderCellDef> DeleteToDoItem </th>
    <td mat-cell *matCellDef="let row"> 
      <button (click)="DeleteToDoItem(row)">Delete</button>
       </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
